<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iris</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/Application/iris2.css">
</head>
<body>
    <h1>Iris Flower Classification Prediction-Project</h1>
    <form action = "/application/iris" method="post">
    {% csrf_token %}
        <div class="row">
            <div class="col">
                <h5>Sepal_Length:</h5>
            </div>
            <div class="col">
                <input type="text" id="f1" name="f1" placeholder="Enter the Sepal_Length:" required><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Sepal_Width:</h5>
            </div>
            <div class="col">
                <input type="text" id="f2" name="f2" placeholder="Enter the Sepal_Width:" required><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Petal_Length:</h5>
            </div>
            <div class="col">
                <input type="text" id="f3" name="f3" placeholder="Enter the Petal_Length:" required><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Petal_Width:</h5>
            </div>
            <div class="col">
                <input type="text" id="f4" name="f4" placeholder="Enter the Petal_Width:" required><br>
            </div>
        </div>
        <div class="btn">
            <button type="submit" class="bt" value="submit">Predict</button>
        </div>
    </form>
    <div class="card text-center" style="width:21.5em;margin:0 auto;">
        <div class="card-body">
          <p class="card text">
          <h1>{{prediction}}</h1>
          </p>
        </div>
        </div>
    <h3><marquee behavior="scroll" direction="left" scrollamount=10>This is the Page where you will able to know which kind of Iris-Flower is it.</marquee></h3>
    <a href="/application"><button class="bt36" type="submit">Go Back</button></a>
</body>
</html>